html{
    margin: 20px;
}

* {
    background-color: violet;
}

h1 {
    color: red;
}

h2 {
    color: red;
}

button {
    color: blueviolet;
    font-size: 15px;
}

.smallimg{
    width:50%;
    padding: 5px;
    background-color: white;
}
